.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
a{
    text-decoration:none;
}
ul,ol{
    margin:0;
    padding:0;
    list-style: none;
}
h3{
    font-weight: normal;
    margin: 0;
    padding: 0;
}
body{
    background-color: #efefef;
    margin: 0px;
}
[data-x].active{
    outline: 10px solid red;
}
[data-x].offset{
    transform: translateY(100px);
}
[data-x]{
    transform: translateY(0);
    transition: all 0.5s;
}
@keyframes slideUp{
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}
.topNavBar{
    padding-top: 12px;
    padding-bottom: 21px;
    padding-right: 16px;
    position: fixed;
    width: 100%;
    transition: all 0.5s;
    color: #b7b7b7;
}
.topNavBar.sticky{
    background: white;
    padding: 10px 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #3d4451;
}
.topNavBar .nav_gauge nav > ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}
.topNavBar >.nav_gauge >nav >ul >li {
    
    float: left;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 2px;
    font-size: 12px;
    font-weight: bold;
    /* color: #b7b7b7;    */
    position: relative;
    
}
.topNavBar >.nav_gauge >nav >ul >li > a{
    color: inherit;
    text-decoration: none;
    border-bottom:solid 3px transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}
.topNavBar >.nav_gauge >nav >ul >li > a{
    font-size: 12px; 
    color: inherit; 
    font-weight: bold; 
    border-top: 3px solid transparent; 
    border-bottom: 3px solid transparent;
    padding-top: 5px; 
    padding-bottom: 5px; 
    display: block; 
    position: relative;
}
.topNavBar >.nav_gauge >a {
    display: inline-block;
    text-decoration: none;
}
.topNavBar >.nav_gauge >nav> ul > li.active > a::after,
.topNavBar >.nav_gauge >nav> ul > li.highlight > a::after
{
    /* border-bottom: solid 3px #e06567;
    padding-top: 5px;
    padding-bottom: 5px; */
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: red;
    height: 3px;
    animation: menuSlide 0.3s;
}
@keyframes menuSlide{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

.topNavBar >.nav_gauge >nav >ul {
    list-style: none;
    padding-top: 8px;
}
.topNavBar >.nav_gauge >nav {
    float: right;
}

.topNavBar .logo .rs{
    font-size: 24px;
    color: #e06567;
    font-family: "Arial Black";
    margin-right: 4px;
}
.topNavBar .logo .card{
    font-size: 24px;
    color: #b7b7b7;
    font-family: "Arial Black";
}
.topNavBar .logo{
    padding-top: 6px;
    padding-left: 16px;
}
.banner{
    height: 515px;
    background-image: url(./img/rs-cover-2-2-1-1.jpg);
    background-position: center center;
    background-size: cover；
}
.banner_color{
    height: 515px;
    background-color: rgba(0,0,0,0.7);
}
.topNavBar >.nav_gauge{
    padding-right: 16px;
}
.topNavBar .submenu{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    color: #3d4451;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.topNavBar li.active> .submenu{
    display: block;
    animation: menuSlide .3s;
}
.topNavBar .submenu > li{
    white-space: nowrap;
    padding: 5px 13px;
}
.user_Card{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    margin-top: -340px;
    box-shadow: 0px 0px 6px 2px rgba(168,163,168,1);
}
.user{
    padding: 50px;
}
.picture{
    float: left;
}
.porfile{
    width: 470px;
    float: left;
    margin-left: 70px;
}
.porfile >dl >dt {
    display: inline-block;
    width: 20%;
    font-weight: bold;
    padding: 5px;
}
.porfile >dl >dd {
    display: inline-block;
    width: 50%;
    padding: 5px;
}
.welcome{
    background-color: #e06567;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    position: absolute;
}
.triangle{
    border: 10px solid;
    border-color: transparent;
    border-left-color: #e06567;
    width: 0px;
    height: 0px;
    border-top-width: 0px;
    margin-left: 4px;
    margin-top: 31px; 
    position: relative;
}
.name{
    margin-bottom: 0px;
}
.job{
    margin-top: 5px;
}
.hr{
    border-top: #dedede;
}
.user_Card svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
.media{
    background-color: #e06567;
    text-align: center;
}
.media >a{
    text-align: center;
    width: 40px;
    display: inline-block;
    line-height: 30px;
    margin: 16px;
    padding: 5px 0px;
    border-radius: 50%  
}
.media >a:hover{
    background: #cf5d5f;
}
.button{
    display: inline-block;
    padding: 21px 55px;
    margin: 32px 0px;
    border: solid 1px #cdcfd1;
    color: #3d4451;
}
.button:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 13px 0px;
    transition: box-shadow 0.2s;
}
.download{
    text-align: center;
    font-weight:bold;
    font-size: 14px; 
    
}
.selfIntroduction{
    text-align: center;
}
.skills, .portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align: center;
    
}
.skills >h2{
    text-align: center;
    margin-top: 45px;
    font-size: 34px;
}
.skills >ol{
    list-style: none;
    background-color: white;
    padding: 42px 50px 10px;
    box-shadow: 0px 0px 6px 2px rgba(168,163,168,1);
}
.skills >ol >li{
    float: left;
    width: 48%;
    box-sizing: border-box;
}
.skills >ol >li:nth-child(even){
    float: right;
}
.skills >ol >li >h3{
    font-size: 14px;
    line-height:1.1;
}

.progressBar{
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0 40px;
    overflow: hidden;
}
section.skills.offset .progress{
    transform: translateX(-100%);
}
.progress{
    height: 100%;
    background: #e6686a;
    border-radius: 2%;
    width: 10%;
    border-radius: 2px;
    transform: translateY(0); 
    transition: 1s all;
}
.portfolio{
    margin-bottom: 200px;
    width: 720px;
}
.portfolio > h2{
    text-align: center;
    font-size: 34px;
    line-height: 1.2px;
    font-weight: 600px;
    margin-bottom: 64px; 
}
.portfolio >nav{
    display: inline-block;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 15px;
}
.portfolio> nav >ol{
    display: inline-block;
}
.portfolio> nav >ol >li{
    float: left;
    list-style: none;
    margin-left: 40px;
    cursor: pointer;
}
.portfolio >nav >ol >li:nth-child(1){
    margin-left: 0;
}
section.portfolio > nav .bar{
    height: 5px;
    background: white;
    border-radius: 2px;
}
section.portfolio > nav .barSlider{
    height: 100%;
    background: #e6686a;
    border-radius: 2px;
    width: 30%;
    transition: all 0.3s  /* 过渡动画 */
}
section.portfolio > nav .bar.state-1 .barSlider{
    margin-left: 0;
    width: 50px;
}
section.portfolio > nav .bar.state-2 .barSlider{
    margin-left: 65px;
    width: 50px;
}
section.portfolio > nav .bar.state-3 .barSlider{
    margin-left: 140px;
    width: 96px;
}
.jobs {
    margin-bottom: 100px;
}
.jobs> .big > img{
    float: left;
    margin-top: 20px;
}
.jobs> .small > img{
    float: right;
    margin-top: 20px;
}
.jobs> .small2 > img{
    float: right;
    margin-top: 27px;
}
