.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
body{
    background-color: black;
    margin: 0px;
    color: white;
}

.topNavBar >nav >ul >li {
    
    float: left;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #b7b7b7;   
}
.topNavBar >nav >ul >li > a{
    color: #b7b7b7;
    text-decoration: none;
    display: inline-block;
    border-bottom:solid 3px transparent;
    padding-top: 5px;
    padding-bottom: 5px;
}
.topNavBar >a {
    display: inline-block;
    text-decoration: none;
}
.topNavBar> nav> ul > li> a:hover{
    border-bottom: solid 3px #e06567;
    padding-top: 5px;
    padding-bottom: 5px;
}

.topNavBar >nav >ul {
    list-style: none;
}
.topNavBar >nav {
    float: right
}
.topNavBar{
    padding-top: 12px;
    padding-bottom: 21px;
    padding-right: 16px;
}
.topNavBar .logo .rs{
    font-size: 24px;
    color: #e06567;
    font-family: "Arial Black";
    margin-right: 4px;
}
.topNavBar .logo .card{
    font-size: 24px;
    color: #b7b7b7;
    font-family: "Arial Black";
}
.topNavBar .logo{
    padding-top: 11px;
    padding-left: 16px;
}